*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}


/* struttura a blocchi */


body{
    padding: 1rem;
    margin: auto;
    width: 1400px;
    font-family: 'Open Sans', sans-serif;
}

/* .debug > */ .content {
    height: 300px;
} 


header {
    height: 150px;
    background-color: seagreen;
    margin-bottom: 1rem;
}

footer{
    height: 150px;
    background-color: seagreen;
    margin-top: 1rem;
}

.hero-img{
    height: 500px;
    background-color: blue;
}

.box-page{
    margin-top: 1rem;
}

.sub-title{
    height: 100px;
    background-color: yellow;
    margin-bottom: 1rem;
}

.sidebar {
    background-color: pink;
    width: 25%;
}

.maincontent {
    background-color: powderblue;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.sidebar, .maincontent {
    float: left;
    padding: 1rem;
    height: 100%;
}


/* riempimento blocchi */


#logo{
    height: 85px;
    margin-bottom: 1.5rem;
}

nav{
    font-size: larger;
}

a{
    text-decoration: none;
    color: purple;
}

