*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}



/* struttura a blocchi */



body{
    padding: 1rem;
    margin: auto;
    width: 1400px;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* .debug > */ .content {
    height: 300px;
} 


header {
    height: 150px;
    background-color: seagreen;
    margin-bottom: 1rem;
}

footer{
    height: 150px;
    background-color: seagreen;
    margin-top: 1rem;
}

.hero-img{
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.box-page{
    margin-top: 1rem;
}

.sub-title{

    width: 100%;
    background-color: yellow;
    margin-bottom: 1rem;
}

.sidebar {
    background-color: pink;
    width: 25%;
}

.maincontent {
    background-color: powderblue;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.sidebar, .maincontent {
    float: left;
    padding: 1rem;
    height: 100%;
}



/* riempimento blocchi */


/* header */


#logo{
    height: 85px;
    margin-bottom: 1.5rem;
}

header > nav{
    font-size: larger;
}

header > nav > a{
    text-decoration: none;
    color: purple;
}


/* hero */


.layer{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.hero-txt{
    width: 100%;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
}

.hero-txt > h1 {
    width: 750px;    
}

.hero-txt > nav {
    width: 700px;
    font-size: large;  
 
}


/* secondo titolo */



.sub-title > h1{
    font-family: 'Open Sans', sans-serif
}


